@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");
* {
  box-sizing: border-box;
}

.image-size img {
  height: 30rem;
  border-radius: 3rem;
  flex-grow: 0.5;
  margin: 1rem;
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.main {
  display: flex;
  width: 90vw;
}

a {
  margin-top: 1rem;
  text-decoration: none;
  color: white;
  margin-bottom: 1rem;
  border-radius: 1rem;
  background-color: #8888b8;
  padding: 20px;
  font-family: "Lobster Two", cursive;
}
a:hover {
  background-color: #28289c;
  transition: ease-in-out 2s;
}
