@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap");
* {
  padding: 0%;
  margin: 0%;
}

/* center everything in the page by centering everthing in and visual heoght the body or the actual container*/

body {
  background-color: #8868a6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#main {
  display: flex;
  align-items: center;
  justify-content: center;
}

h5 {
  margin-right: 3rem;
  margin-top: 1rem;
  font-family: "Indie Flower", cursive;
  font-size: 2rem;
  border: 1px solid #4c205c;
  padding: 15px 15px 15px 15px;
  color: white;
  background-color: #4c205c;
  border-radius: 1rem;
  cursor: pointer;
}
h5:hover {
  transition: all 0.5s;
  background-color: #d6a3e9;
  border: 1px solid #d6a3e9;
  color: black;
}

a {
  display: block;
  text-decoration: none;
  color: black;
  font-family: "Original Surfer", cursive;
  font-size: 1.5rem;
  border: 1px solid white;
  padding: 25px;
  background-color: white;
  border-radius: 1rem;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  body {
    display: flex;
    flex-direction: column;
  }

  #main {
    flex: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h5 {
    margin-top: 1rem;
  }
}
