* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: navy;
}

#style {
  font-size: 36px;
  color: black;
  border: 1px solid white;
  padding: 10px 10px 10px 10px;
  background-color: white;
}
